# Try the Tabula-py lib

In [1]:
!java -version

java version "1.8.0_421"
Java(TM) SE Runtime Environment (build 1.8.0_421-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.421-b09, mixed mode)

In [2]:
import tabula

In [3]:
tabula.environment_info()

Python version:
    3.11.1 (tags/v3.11.1:a7a450f, Dec  6 2022, 19:58:39) [MSC v.1934 64 bit (AMD64)]
Java version:
    java version "1.8.0_421"
Java(TM) SE Runtime Environment (build 1.8.0_421-b09)
Java HotSpot(TM) 64-Bit Server VM (build 25.421-b09, mixed mode)
tabula-py version: 2.9.3
platform: Windows-10-10.0.22631-SP0
uname:
    uname_result(system='Windows', node='DESKTOP-Q7H2TCM', release='10', version='10.0.22631', machine='AMD64')
linux_distribution: ('', '', '')
mac_ver: ('', ('', '', ''), '')

# Test simple text PDFs

In [4]:
_uri = "../data/__test_pdfs/simple-text.pdf"

In [6]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 0

# Test only one table PDFs

In [7]:
_uri = "../data/__test_pdfs/table.pdf"

In [14]:
dfs = tabula.read_pdf(_uri, stream=True, pages='1-2')
print(f"Tables found: {len(dfs)}")

Tables found: 1

In [15]:
dfs[0]

                                  Contact Email  Unnamed: 0            Phone
0               John Smith john.smith@email.com         NaN  +1 887 33-22-12
1                   Jane Doe jane.doe@email.com         NaN  +1 555 44-33-22
2             Bob Johnson bob.johnson@email.com         NaN  +1 555 55-44-33
3               Mary Brown mary.brown@email.com         NaN  +1 555 66-55-44
4                 David Lee david.lee@email.com         NaN  +1 555 77-66-55
5         Sarah Johnson sarah.johnson@email.com         NaN  +1 555 88-77-66
6         Michael Smith michael.smith@email.com         NaN  +1 555 99-88-77
7             Emily Davis emily.davis@email.com         NaN  +1 555 11-22-33
8           James Wilson james.wilson@email.com         NaN  +1 555 22-33-44
9        Samantha Brownsamantha.brown@email.com         NaN  +1 555 33-44-55
10                  John Doe john.doe@email.com         NaN  +1 555 44-55-66
11            Sarah Davis sarah.davis@email.com         NaN  +1 555 55-66-77
12          Peter Parker peter.parker@email.com         NaN  +1 555 66-77-88
13          Mary Johnson mary.johnson@email.com         NaN  +1 555 77-88-99
14            James Brown james.brown@email.com         NaN  +1 555 88-99-00
15    Jennifer Wilson jennifer.wilson@email.com         NaN  +1 555 99-00-11
16    William Johnson william.johnson@email.com         NaN  +1 555 00-11-22
17        Jessica Davis jessica.davis@email.com         NaN  +1 555 11-22-33
18            James Smith james.smith@email.com         NaN  +1 555 22-33-44
19            David Brown david.brown@email.com         NaN  +1 555 33-44-55
20        Olivia Taylor olivia.taylor@email.com         NaN  +1 555 44-55-66
21          Ava Williams ava.williams@email.com         NaN  +1 555 55-66-77
22        Michael Davis michael.davis@email.com         NaN  +1 555 66-77-88
23                Sarah Lee sarah.lee@email.com         NaN  +1 555 77-88-99
24              Jane Smith jane.smith@email.com         NaN  +1 555 88-99-00
25          Mike Johnson mike.johnson@email.com         NaN  +1 555 99-00-11
26            Tom Johnson tom.johnson@email.com         NaN  +1 555 00-11-22
27        William Smith william.smith@email.com         NaN  +1 555 11-22-33
28  Elizabeth Taylor elizabeth.taylor@email.com         NaN  +1 555 22-33-44
29      Michael Miller michael.miller@email.com         NaN  +1 555 33-44-55
30            Emma Wilson emma.wilson@email.com         NaN  +1 555 44-55-66

In [16]:
dfs[0].tail()

                                  Contact Email  Unnamed: 0            Phone
26            Tom Johnson tom.johnson@email.com         NaN  +1 555 00-11-22
27        William Smith william.smith@email.com         NaN  +1 555 11-22-33
28  Elizabeth Taylor elizabeth.taylor@email.com         NaN  +1 555 22-33-44
29      Michael Miller michael.miller@email.com         NaN  +1 555 33-44-55
30            Emma Wilson emma.wilson@email.com         NaN  +1 555 44-55-66

# Test table & text PDFs

In [17]:
_uri = "../data/__test_pdfs/table-text.pdf"

In [18]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 1

In [20]:
dfs[0]

                              Holiday       Date
0                             MLK Day    15- Jan
1                    Superbowl Monday   12 - Feb
2                     President’s Day   19 - Feb
3                   St. Patrick’s Day   17-March
4                         Good Friday   29 March
5                       Easter Monday   1- April
6                      Juneteenth Day  19 - June
7                        Columbus Day   14 - Oct
8                        Election Day    5 - Nov
9                 Thanksgiving Friday   29 - Nov
10                      Christmas Eve   24 - Dec
11                     New Year’s Eve   31 - Dec
12                      Your Birthday        NaN
13  The anniversary of your hire date        NaN

In [21]:
dfs[0].tail()

                              Holiday      Date
9                 Thanksgiving Friday  29 - Nov
10                      Christmas Eve  24 - Dec
11                     New Year’s Eve  31 - Dec
12                      Your Birthday       NaN
13  The anniversary of your hire date       NaN

# Test complex text PDFs

In [22]:
_uri = "../data/__test_pdfs/complex_text.pdf"

In [23]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 11

In [24]:
# page 3 // shown list of content
dfs[0]

                                           Unnamed: 0  PAGE
0                                                 NaN   NaN
1                             I.  GENERAL INFORMATION   5.0
2                           Applicability of Handbook   6.0
3                               Reservation of Rights   6.0
4                          Exclusive Policy Statement   6.0
5                              Standard of Employment   6.0
6                 Employment Eligibility Verification   6.0
7   Equal Employment Opportunity/Affirmative Actio...   7.0
8                              Need for Accommodation   7.0
9       Non-Discrimination and Anti-Harassment Policy   8.0
10                                   Diversity Policy  11.0
11                                   Complaint Policy  11.0
12               Pregnant Workers Fairness Act (PWFA)  12.0
13                            Lactation Accommodation  13.0
14             Genetic Information Non-Discrimination  13.0
15                         Michigan Right to Know Law  14.0
16                                      Whistleblower  14.0
17                                                NaN   NaN
18                            II.  PERSONNEL POLICIES  15.0
19                                Keeping Us Informed  16.0
20                        Access to Personnel Records  16.0
21                                       Resignations  16.0
22                                    Exit Interviews  17.0
23                      Inquiries Regarding Employees  17.0
24                          Performance Review Policy  17.0
25              Social Security Number Privacy Policy  18.0
26  Privacy Policy Disposal/Shredding of Sensitive...  18.0
27                                Disciplinary Policy  18.0
28                            Coronavirus Action Plan  20.0
29                                                NaN   NaN
30                                   III.  WORK RULES  21.0
31                                  Attendance Policy  22.0
32                                            Honesty  22.0
33                                   Personal Conduct  23.0
34                                    Confidentiality  23.0
35                               Conflict of Interest  23.0
36                            Drug and Alcohol Policy  23.0
37                             Smoking/Tobacco Policy  27.0
38                                   Company Property  27.0
39                                  Personal Property  27.0
40                   Personal Use of Company Property  27.0
41                                    Bulletin Boards  28.0
42                           Personal Telephone Calls  28.0
43                      Information Technology Policy  28.0

In [25]:
# page 4
dfs[1]

                                   Remote Work Policy    30
0                                 Social Media Policy  31.0
1                                          Inspection  32.0
2               Unauthorized Photos and/or Recordings  32.0
3                                Visitors and Vendors  32.0
4                                         Trespassing  33.0
5                                       Communication  33.0
6                                   Safety and Health  33.0
7              Vehicle Safety Policies and Procedures  33.0
8          Mobile Phone Use/Distracted Driving Policy  34.0
9                                                 NaN   NaN
10                      IV.  HOURS AND PAY PROCEDURES  35.0
11                           Hours and Work Schedules  36.0
12                                     Time Recording  36.0
13                                           Overtime  36.0
14                          Clean Up and Wash Up Time  37.0
15              Work Week, Payday, and Direct Deposit  37.0
16                                Salary Basis Policy  37.0
17                            Breaks and Lunch Period  38.0
18                      Dress Code and Uniform Policy  38.0
19                                 Payroll Deductions  39.0
20  Wage Garnishments, Assignments, and Levies on ...  39.0
21                                                NaN   NaN
22                              V.  EMPLOYEE BENEFITS  40.0
23                                        Holiday Pay  41.0
24                                   Floating Holiday  41.0
25                                Paid Time Off (PTO)  41.0
26                          Unpaid Personal/Sick Days  42.0
27        Family and Medical Leave Act of 1993 (FMLA)  43.0
28                HIPAA Health & Welfare Benefit Plan  51.0
29                                     Military Leave  52.0
30                                          Jury Duty  53.0
31                                Bereavement/Funeral  53.0
32                           Insurance/Other Benefits  54.0
33        EAP (Employee Assistance Program) Statement  54.0
34  Consolidated Omnibus Budget Reconciliation Act...  55.0
35                                                NaN   NaN
36                               VI.  SAFETY POLICIES  57.0
37                                       Safety Rules  58.0
38                                                NaN   NaN
39             OTHER INFORMATION (SELF-HELP SERVICES)  60.0

In [26]:
dfs[2]

  Follow all local state and federal guidelines that pertain to the pandemic flu or other
0  infectious disease outbreak.  This could mean ...
1  the workplace.  Any other guidelines put in pl...
2               CDC should be followed at all times.
3  Report to work when directed to unless they ar...
4  otherwise directed by their healthcare provide...
5  the appropriate documentation of these circums...
6  action up to and including termination from em...
7  Monitor themselves to ensure they are not infe...

In [27]:
dfs[3]

  Employees are prohibited from making statements that are slanderous, including comments
0  or opinions about Yates Industries, Inc. or Ya...
1  customers that are knowingly false and/or made...
2             falsity of the comment and/or opinion.
3  Any harassment, bullying, discrimination, or r...
4  the workplace is not permissible between co-wo...
5            hours, from home and on home computers.
6  Inappropriate postings that may include discri...

In [29]:
# page 43
dfs[4]

  Due to the placement of a child with the employee for adoption or foster care and
0                            to care for that child;
1                                                NaN
2  In order to care for the employee’s spouse, ch...
3  loco parentis), if the spouse, child, or paren...
4                                                NaN
5  Due to a serious health condition that makes t...

In [31]:
dfs[5]

   To address issues that arise from an impending call or order to active duty 7 or less
0   calendar days before deployment during that 7-...
1   To attend an official ceremony, program or eve...
2   related to the call to active duty or active d...
3   To attend certain family support or assistance...
4   related to the call to active duty or active d...
5   To arrange for alternative childcare when the ...
6                  a change in existing arrangements.
7   To provide childcare on an urgent, immediate b...
8   everyday basis), when the need arises because ...
9                                               duty.
10  To enroll in or transfer a child to a new scho...
11         by the call to active duty or active duty.
12  To attend meetings with staff at a school or d...
13  necessary due to circumstances arising from th...
14  To make or update financial or legal arrangeme...
15  Member’s absence caused by the call to active ...
16  To act as the Military Member’s representative...

In [32]:
dfs[6]

Empty DataFrame
Columns: [To address miscellaneous matters which arise out of the call to active duty or active]
Index: []

In [33]:
dfs[7]

  A physical or mental condition for which the Covered Veteran has received a VA
0  Military Related Disability Rating (VASRD) of ...
1  rating is based, in whole or in part, on the c...
2                                caregiver leave; or
3  A physical or mental condition that substantia...

In [34]:
dfs[8]

,(4),"Proper safety goggles or visor will be provided and must be worn when grinding,"
0,NaN,"chipping, welding, solvent cleaning, or doing ..."
1,NaN,cause injury to the eyes.
2,NaN,NaN
3,(5),"The wearing of loose clothing, long loose slee..."
4,NaN,not permitted while working on or around movin...
5,NaN,your hair tied back to avoid engaging with mac...
6,NaN,"halter-tops, or midriffs worn while working. ..."
7,NaN,"After 90 days of employment, uniforms may be i..."
8,NaN,Uniform Policy).
9,NaN,NaN
10,(6),Work shoes/boots or leather shoes which have l...
11,NaN,other common shoe that enclose the feet are re...
12,NaN,shoes are not allowed for shop personnel. Stee...
13,NaN,encouraged for all shop personnel. (see Dress...
14,NaN,NaN
15,(7),"In case of injury, NO MATTER HOW SLIGHT, it mu..."
16,NaN,Supervisor or a Manager immediately. Under no ...
17,NaN,your own or a co-worker’s injuries or remove f...
18,NaN,to report injuries promptly may exclude you fr...
19,NaN,otherwise be entitled.
20,NaN,NaN
21,(8),Air hoses are to be used only for their intend...

In [35]:
dfs[9]

,(14),Authorized personnel performing maintenance on powered equipment must follow
0,NaN,proper lockout tag out procedures.
1,NaN,NaN
2,(15),OSHA Respirator Medical Evaluation Questionnai...
3,NaN,who will be using a respirator.
4,NaN,NaN
5,(16),NIOSH approved respirator protection will be p...
6,NaN,mandatory areas and available for others upon ...
7,NaN,NaN
8,(17),All documented Safety material which includes ...

In [36]:
dfs[10]

      United Way (Southeast MI)  www.unitedwaysem.org   (800)552-1183
0                      United Way (AL) www.uwnwal.org   (256)764-5892
1               United Way (GA) www.unitedwaynega.org   (404)527-7200
2                   United Way (OH) www.unitedway.org             NaN
3           National Helpline /SAMHSA  www.samhsa.gov  (800) 662-4357
4                                                 NaN             NaN
5                                  ALCOHOL/DRUG ABUSE             NaN
6                    Alcoholics Anonymous  www.aa.org             NaN
7                     Narcotics Anonymous  www.na.org             NaN
8                                                 NaN             NaN
9                                 CHILDREN’S SERVICES             NaN
10  Children’s Protective Services (MI) www.michig...  (855) 444-3911
11  Children’s Protective Services (AL)  dhr.alaba...  (334) 242-1310
12  Children’s Protective Services (GA)  dfcs.geor...  (404) 657-3433
13  Children’s Protective Services (OH)  www.jfs.o...  (855) 642-4453
14                                                NaN             NaN
15               CRISIS/SUICIDE PREVENTION (24 hours)             NaN
16  Suicide Prevention Services (MI) www.michigan....  (800) 273-8255
17  Suicide Crisis Services (AL) www.alabamapublic...  (800) 273-8255
18  Georgia Crisis Services (GA)www.dbhdd.georgia....             NaN
19          Ohio Crisis Services (OH) www.ohiospf.org  (800) 273-8255
20                                                NaN             NaN
21             CENTER FOR DISEASE CONTROL www.cdc.gov  (800) 232-4636
22                                                NaN             NaN
23  DOMESTIC VIOLENCE SHELTERS/INFORMATION (24 hours)             NaN
24  National Domestic Violence Helpline www.thehot...  (800) 799-7233
25  Wayne County-MI (First Step) www.firststep-mi.org  (734) 722-6800
26   Oakland County-MI (Haven)  www.haven-oakland.org  (877) 922-1274
27  Macomb County-MI (Turning Point www.turningpoi...             NaN
28   Domestic Violence Help (AL) www.acf.hhs.gov/fysb  (334) 832-4842
29          Domestic Violence Help (GA) www.gcadv.org  (800) 334-2836
30           Domestic Violence Help (OH) www.odvn.org  (800) 934-9840
31                                                NaN             NaN
32            POISON CONTROL (24 hours) www.aapcc.org  (800) 222-1222
33                                                NaN             NaN
34                                          RESOURCES             NaN
35                        Social Security www.ssa.gov  (800) 772-1213
36                        Identity Theft  www.hhs.gov  (877) 438-4338
37      Medicare Information Hotline www.medicare.gov  (800) 633-4227

# Test complex_text-tables-images PDFs

In [37]:
_uri = "../data/__test_pdfs/complex_text-tables-images.pdf"

In [38]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 202

In [39]:
# on page 7
dfs[0]

,STYLE A,PAGE 10-11,STYLE B,PAGE 10-11.1,STYLE E,PAGE 12-13,STYLE H,PAGE 10-11.2
0,NaN,NFPA-MS2,NaN,NFPA-MS4,NaN,NFPA-MS7,NaN,NFPA-MS3
1,SIDE LUGS,NaN,SIDE TAPPED,NaN,SIDE END LUGS,NaN,CENTER-LINE LUGS,NaN
2,"1 1/2-8"" BORE",NaN,"1 1/2-8"" BORE",NaN,"1 1/2-8"" BORE",NaN,"1 1/2-8"" BORE",NaN

In [43]:
# on page 8
dfs[3]

,CYLINDER BORE,Unnamed: 0,PISTON ROD DIAMETER (INCHES),Unnamed: 1,PRESSURE RATINGS (PSI)
0,(INCHES),STANDARD,OVERSIZE,2:1,HEAVY-DUTY SERVICE 4:1 SAFETYFACTOR
1,1 1/2,5/8,NaN,1,3000 * 2000
2,2,1,NaN,1 3/8,3000 * 2000 FOR HIGHER
3,2 1/2,1,1 3/8,1 3/4,3000 * 1950 PRESSURES
4,3 1/4,1 3/8,1 3/4,2,3000 * 2100 CONSULT
5,4,1 3/4,2,2 1/2,3000 * 1900 FACTORY
6,5,2,"2 1/2, 3",3 1/2,3000 * 1900
7,6,2 1/2,"3, 3 1/2",4,3000 * 2000
8,7,3,"3 1/2, 4, 4 1/2",5,3000 * 1850
9,8,3 1/2,"4, 4 1/2, 5",5 1/2,3000 * 1900
10,10,4 1/2,"5, 5 1/2",7,3000
11,12,5 1/2,7,8,3000 * PRESSURE FOR “F” AND “R” MOUNTS (SEE PAGE
12,14,7,"8, 9",10,3000 25) AND “Q” MOUNTS (SEE PAGE 14) IS LOWER
13,16,8,"9, 10",NaN,3000 Φ 4:1 SAFETY FACTOR BASED ON FAILURE
14,18,9,10,NaN,3000 PRESSURES OF WEAKEST COMPONENT AND
15,20,10,NaN,NaN,3000 STANDARD ROD SIZE
16,24,11,NaN,NaN,3000

In [44]:
dfs[4]

  ROD DIA.    RB    RR      RM
0      5/8     –   3/8   2 3/8
1        1   1/4   3/8   2 1/2
2    1 3/8  5/16  5/16  3 7/32
3    1 3/4  5/16  5/16   3 7/8
4        2  5/16  5/16       4

In [45]:
dfs[5]

   BORE      RA      RF     RC     RD   TIE ROD
0    10   5.291   3.775     NA     NA  1 1/8-12
1    12   6.270   4.555     NA     NA  1 1/4-12
2    14   7.485   6.143  4.409     NA  1 1/4-12
3    16   8.086   6.093     NA     NA  1 1/2-12
4    18   9.589   7.910  5.761     NA  1 1/2-12
5    20  10.437   8.750  6.649     NA  1 1/2-12
6    24  13.589  11.722  9.158  6.050      2-12

In [46]:
# on page 11
dfs[6]

,FEATURE,DESCRIPTION,PAGE #,SYMBOL,H,6,A,D,N,3,...,S,1,..2,3.1,8.1,T,2.2,S.1,1.1,1.2
0,SERIES,Hydraulic heavy duty,5,H6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MOUNTING STYLE,Side lugs (MS2),7,A,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Side tapped (MS4),NaN,B,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Side end lugs (MS7),NaN,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Center-line lugs (MS3),NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,NaN,Many more options available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,HEAD PORT,Specify location 1-4,NaN,1-4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,If cylinder requires multiple ports,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,CAP PORT,Specify location 1-5,NaN,1-5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,If cylinder requires multiple ports,NaN,X,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# second table on page 11
dfs[7]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,ADD STROKE,Unnamed: 17
0,BORE,E,EE,SAE OPT.,F,G,J,K,NT,SB,ST,SU,SW,TN,TS,US,LB,P SN,SS*
1,1 1/2,2 1/2,1/2,10,3/8,1 3/4,1 1/2,3/8,3/8-16,7/16,1/2,15/16,3/8,3/4,3 1/4,4,4 5/8,3 2 7/8,3 7/8
2,2,3,1/2,10,5/8,1 3/4,1 1/2,7/16,1/2-13,9/16,3/4,1 1/4,1/2,15/16,4,5,4 5/8,3 2 7/8,3 5/8
3,2 1/2,3 1/2,1/2,10,5/8,1 3/4,1 1/2,7/16,5/8-11,13/16,1,1 9/16,11/16,1 5/16,4 7/8,6 1/4,4 3/4,3 1/8 3,3 3/8
4,3 1/4,4 1/2,3/4,12,3/4,2,1 3/4,9/16,3/4-10,13/16,1,1 9/16,11/16,1 1/2,5 7/8,7 1/4,5 1/2,3 5/8 3 1/2,4 1/8
5,4,5,3/4,12,7/8,2,1 3/4,9/16,1-8,1 1/16,1 1/4,2,7/8,2 1/16,6 3/4,8 1/2,5 3/4,3 7/8 3 3/4,4
6,5,6 1/2,3/4,12,7/8,2,1 3/4,3/4,1-8,1 1/16,1 1/4,2,7/8,2 15/16,8 1/4,10,6 1/4,4 3/8 4 1/4,4 1/2
7,6,7 1/2,1,16,1,2 1/4,2 1/4,7/8,1 1/4-7,1 5/16,1 1/2,2 1/2,1 1/8,3 5/16,9 3/4,12,7 3/8,5 5 1/8,5 1/8
8,7,8 1/2,1 1/4,20,1,2 3/4,2 3/4,1,1 1/2-6,1 9/16,1 3/4,2 7/8,1 3/8,3 3/4,11 1/4,14,8 1/2,5 1/2 5 7/8,5 3/4
9,8,9 1/2,1 1/2,24,1,3,3,1 1/16,1 1/2-6,1 9/16,1 3/4,2 7/8,1 3/8,4 1/4,12 1/4,15,9 1/2,6 1/4 6 5/8,6 3/4

In [49]:
dfs[8]

,Unnamed: 0,ENVELOPE AND ROD DIA. THREAD,ROD EXTENSIONS AND PILOT DIMENSIONS,MOUNTING DIMENSIONS
0,BORE,MM KK,CC A B ‡ C D VF TK WF RR,RM Y XS XT
1,1 1/2,5/8 7/16-20 1/2-20,3/4 1 1/8 3/8 17/32 5/8 9/16 1 -,§ 1 15/16 1 3/8 2
2,NaN,1 † 3/4-16 7/8-14,1 1/8 1 1/2 1/2 7/8 7/8 Φ 1 3/8 -,§ 2 5/16 1 3/4 2 3/8
3,2,1 3/4-16 7/8-14,1 1/8 1 1/2 1/2 7/8 7/8 1/2 1 3/8 -,§ 2 5/16 1 7/8 2 3/8
4,NaN,1 3/8 † 1-14 1 1/4-12,1 5/8 2 5/8 1 1/8 1 Φ 1 5/8 -,§ 2 9/16 2 1/8 2 5/8
5,2 1/2,1 3/4-16 7/8-14,1 1/8 1 1/2 1/2 7/8 7/8 11/16 1 3/8 3/8,2 1/2 2 5/16 2 1/16 2 3/8
6,NaN,1 3/8 † 1-14 1 1/4-12,1 5/8 2 5/8 1 1/8 1 Φ 1 5/8 -,§ 2 9/16 2 5/16 2 5/8
7,NaN,1 3/4 † 1 1/4-12 1 1/2-12,2 2 3/8 3/4 1 1/2 1 1/8 Φ 1 7/8 -,§ 2 13/16 2 9/16 2 7/8
8,3 1/4,1 3/8 1-14 1 1/4-12,1 5/8 2 5/8 1 1/8 1 3/4 1 5/8 5/16,3 7/32 2 11/16 2 5/16 2 3/4
9,NaN,1 3/4 1 1/4-12 1 1/2-12,2 2 3/8 3/4 1 1/2 1 1/8 3/4 1 7/8 -,§ 2 15/16 2 9/16 3
10,NaN,2 † 1 1/2-12 1 3/4-12,2 1/4 2 5/8 7/8 1 3/4 1 1/8 Φ 2-,§ 3 1/16 2 11/16 3 1/8
11,4,1 3/4 1 1/4-12 1 1/2-12,2 2 3/8 3/4 1 1/2 1 1/8 1 1 7/8 5/16,3 7/8 2 15/16 2 3/4 3
12,NaN,2 1 1/2-12 1 3/4-12,2 1/4 2 5/8 7/8 1 3/4 1 1/8 Φ 25/16,4 3 1/16 2 7/8 3 1/8
13,NaN,2 1/2 1 7/8-12 2 1/4-12,3 3 1/8 1 2 1/8 1 1/4 Φ 2 1/4 5/8,4 7/16 3 5/16 3 1/8 3 3/8
14,5,2 1 1/2-12 1 3/4-12,2 1/4 2 5/8 7/8 1 3/4 1 1/8 1 1/8 25/16,4 3 1/16 2 7/8 3 1/8
15,NaN,2 1/2 1 7/8-12 2 1/4-12,3 3 1/8 1 2 1/8 1 1/4 1 1/8 2 1/4 5/8,4 7/16 3 5/16 3 1/8 3 3/8
16,NaN,3 2 1/4-12 2 3/4-12,3 1/2 3 3/4 1 2 5/8 1 1/4 1 1/8 2 1/4 3/4,5 1/4 3 5/16 3 1/8 3 3/8
17,NaN,3 1/2 2 1/2-12 3 1/4-12,3 1/2 4 1/4 1 ∆ 1 1/4 Φ 2 1/4 3/4,5 5/8 3 5/16 3 1/8 3 3/8
18,6,2 1/2 1 7/8-12 2 1/4-12,3 3 1/8 1 2 1/8 1 1/4 1 5/16 2 1/4 5/8,4 7/16 3 7/16 3 3/8 3 1/2
19,NaN,3 2 1/4-12 2 3/4-12,3 1/2 3 3/4 1 2 5/8 1 1/4 1 5/16 2 1/4 3/4,5 1/4 3 7/16 3 3/8 3 1/2
20,NaN,3 1/2 2 1/2-12 3 1/4-12,3 1/2 4 1/4 1 ∆ 1 1/4 1 5/16 2 1/4 3/4,5 5/8 3 7/16 3 3/8 3 1/2
21,NaN,4 3-12 3 3/4-12,4 4 3/4 1 ∆ 1 1/4 Φ 2 1/4 7/8,6 7/16 3 7/16 3 3/8 3 1/2
22,7,3 2 1/4-12 2 3/4-12,3 1/2 3 3/4 1 2 5/8 1 1/4 1 1/8 2 1/4 3/4,5 1/4 3 3/4 3 5/8 3 13/16
23,NaN,3 1/2 2 1/2-12 3 1/4-12,3 1/2 4 1/4 1 ∆ 1 1/4 1 1/8 2 1/4 3/4,5 5/8 3 3/4 3 5/8 3 13/16
24,NaN,4 3-12 3 3/4-12,4 4 3/4 1 ∆ 1 1/4 1 1/8 2 1/4 7/8,6 7/16 3 3/4 3 5/8 3 13/16
25,NaN,4 1/2 3 1/4-12 4 1/4-12,4 1/2 5 1/4 1 ∆ 1 1/4 Φ 2 1/4 7/8,7 1/8 3 3/4 3 5/8 3 13/16
26,NaN,5 3 1/2-12 4 3/4-12,5 5 3/4 1 ∆ 1 1/4 Φ 2 1/4 7/8,7 5/8 3 3/4 3 5/8 3 13/16
27,8,3 1/2 2 1/2-12 3 1/4-12,3 1/2 4 1/4 1 ∆ 1 1/4 1 9/16 2 1/4 3/4,5 5/8 3 7/8 3 5/8 3 15/16
28,NaN,4 3-12 3 3/4-12,4 4 3/4 1 ∆ 1 1/4 1 9/16 2 1/4 7/8,6 7/16 3 7/8 3 5/8 3 15/16
29,NaN,4 1/2 3 1/4-12 4 1/4-12,4 1/2 5 1/4 1 ∆ 1 1/4 1 9/16 2 1/4 7/8,7 1/8 3 7/8 3 5/8 3 15/16
30,NaN,5 3 1/2-12 4 3/4-12,5 5 3/4 1 ∆ 1 1/4 1 9/16 2 1/4 7/8,7 5/8 3 7/8 3 5/8 3 15/16
31,NaN,5 1/2 4-12 5 1/4-12,5 1/2 6 1/4 1 ∆ 1 1/4 Φ 2 1/4 7/8,8 3/8 3 7/8 3 5/8 3 15/16

In [50]:
_uri = "../data/__test_pdfs/complex_columns-text-tables-images.pdf"

In [51]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 7

In [52]:
dfs[0]

   alignment task itself: the number of available language pairs GIZA++ tool for the guided alignment during the training of
0   is limited due to the complexity of the labeli...
1   should know both languages and mark all word p...
2   manually). Therefore, it is suggested to consi...
3   alignment for the Ukrainian language in terms ...
4   tasks. Taking into account the availability of...
..                                                ...
58  for the correspondent word fi . Thus, new foll...
59   conditional probability distribution is defined:
60  P( f 1.., fm ,a1,..,al | e1,..,el )  that can ...
61  according to the alignment variables (how well...
62  words match each other). After that the desire...

[63 rows x 1 columns]

In [53]:
dfs[1]

,Then the softmax function is applied across rows and,Label,Number of samples
0,columns separately providing two different sou...,LOC (locations),401
1,EUand target-to-source matrices: S UE and S,ORG (organizations),261
2,"UEcorrespondingly. Thus, each row of the matri...",PERS (persons),1678
3,EUeach column of the S form a probability sim...,MISC (miscellaneous),240

In [54]:
dfs[2]

,,A  ,Unnamed: 0, ,,Unnamed: 1,with the raw processing of a Ukrainian sentence.
0,NaN," prodovzhyv,continued",",",":,: ",NaN,,Word alignment + English NER model [24].
1,NaN,NaN,NaN,NaN,NaN,NaN,This configuration consists in the usage of the
2,NaN,that is actually correct.,NaN,NaN,NaN,NaN,investigated cross-lingual method based on the

In [55]:
dfs[3]

,Unnamed: 0,Unnamed: 1,LOC,Unnamed: 2,Unnamed: 3,MISC,Unnamed: 4,Unnamed: 5,ORG,Unnamed: 6,Unnamed: 7,PERS,Unnamed: 8
0,Configuration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,P,R,F1,P,R,F1,P,R,F1,P,R,F1
2,Multilingual NER,0.51,0.85,0.64,0.03,0.20,0.06,0.27,0.21,0.24,0.84,0.88,0.86
3,Word alignment + Multilingual NER,0.54,0.78,0.64,0.08,0.40,0.14,0.41,0.34,0.37,0.86,0.83,0.85
4,Word alignment + English NER,0.62,0.80,0.70,0.19,0.40,0.26,0.35,0.38,0.36,0.86,0.84,0.85
5,Ukrainian NER,0.95,0.93,0.94,0.91,0.80,0.85,0.88,0.87,0.87,0.95,0.84,0.89

In [56]:
dfs[4]

,Unnamed: 0,Unnamed: 1,Micro Macro,Weighted
0,"previously mentioned for the LOC label, the er...",Configuration,NaN,NaN
1,NaN,NaN,average F1 average F1,average F1
2,connected with the recognition of this type of...,NaN,NaN,NaN
3,NaN,Multilingual,NaN,NaN
4,due to the features of the Ukrainian language ...,NaN,0.58 0.45,0.69
5,NaN,NER,NaN,NaN
6,"However, in contrast to the LOC label, the rec...",NaN,NaN,NaN
7,don’t exceed 38% which shows the complexity of...,Word alignment,NaN,NaN
8,0.70 detection of this kind of label by the an...,+ Multilingual,0.62 0.50,NaN
9,NaN,NER,NaN,NaN
10,more detailed analysis of errors will be consi...,NaN,NaN,NaN
11,NaN,Word alignment,NaN,NaN
12,"Finally, the results for the MISC (miscellaneo...",+ English NER,0.70 0.54,0.72
13,elaborate the statements from the previously c...,NaN,NaN,NaN
14,NaN,Ukrainian NER,0.90 0.89,0.90

In [57]:
dfs[5]

,Table 3 shows the metrics for an entire dataset: micro,Unnamed: 0,Unnamed: 1
0,NaN,Error type,"Percentage, %"
1,"average F1, macro average F1, and weighted ave...",NaN,NaN
2,"far as the dataset is imbalanced, it is advisa...",Word alignment error,11.2
3,mentioned options of the F1 score. The results...,NER error,74.8
4,all labels may confirm the advisability of the...,NaN,NaN
5,NaN,NER extra error,11.2
6,word alignment method for the Ukrainian and En...,NaN,NaN
7,languages for cross-lingual tasks: the replace...,Translation error,2.8

In [58]:
dfs[6]

,Unnamed: 0,REFERENCES,Unnamed: 1,2019 Conference,on,Empirical,Methods,in,Natural,Language
0,NaN,NaN,NaN,Processing and the 9th International Joint Con...,NaN,NaN,NaN,NaN,NaN,NaN
1,[1],"Y. Kravchenko, V. Bondarenko, M. Tyshchenko, K...",NaN,"Language Processing (EMNLP-IJCNLP), Nov. 2019,...",NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"O. Trush, and O. Starkova, “Model of Informati...",NaN,doi: 10.18653/v1/D19-1453.,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Database of the Mobile Terminals Information S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,[19],"T. Zenkel, J. Wuebker, and J. DeNero, “End-to-...",NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Territory of Ukraine (ISPMTU),” in 2020 IEEE I...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,"Alignment Outperforms GIZA++,” ArXiv, vol. abs...",NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Conference on Problems of Infocommunications. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,"Technology (PIC S&T), 2020, pp. 785–790. doi:",[20],"Y. Chen, Y. Liu, G. Chen, X. Jiang, and Q. Liu...",NaN,NaN,NaN,NaN,NaN,NaN

# Example from DOC

In [59]:
_uri = "../data/__test_pdfs/GeoBase_NHNC1_Data_Model_UML_EN.pdf"

In [60]:
dfs = tabula.read_pdf(_uri, stream=True, pages='all')
print(f"Tables found: {len(dfs)}")

Tables found: 11

In [61]:
dfs[0]

              National Hydro Network, Canada, Level 1
0                                          Data Model
1                                                 NaN
2                                                 NaN
3                                         Edition 1.0
4                                                 NaN
5                                                 NaN
6                                             2004-08
7                                                 NaN
8                                                 NaN
9                              Gouvernement du Canada
10                       Ressources naturelles Canada
11  Centre canadien de la cartographie et d’observ...
12                                                NaN
13                                                NaN
14                Service à la clientèle de GéoGratis
15                       Téléphone : +01-819-564-4857
16              1-800-661-2638 (Canada et États-Unis)
17                     Télécopieur : +01-819-564-5698
18                    Courriel : geoginfo@RNCan.gc.ca
19                          URL : www.GeoGratis.gc.ca

In [62]:
dfs[1]

,Date,Version,Description
0,September 2002,Draft 01,First draft for discussion with Nova Scotia
1,January 2003,Draft,Second draft after discussion with Nova Scotia...
2,NaN,NaN,hydro network model through:
3,NaN,NaN, Proposal of options
4,March 2003,Alpha,Draft version after discussion and decisions m...
5,NaN,NaN,scope and content with Nova Scotia and British...
6,July 2003,Draft 02,Draft version after discussion and decisions m...
7,NaN,NaN,detailed NHNC1 model and content with Nova Sco...
8,NaN,NaN,"Columbia, and the Yukon. Meeting in Victoria, ..."
9,December 2003,Draft,Integration of UML model for both LRS and Segm...
10,NaN,NaN,NHNC1.
11,February 2004,Draft,English review;
12,NaN,NaN,Remove the UML model for the Segmented view.
13,May 2004,Draft,Update from the March Workshop comments.
14,August 2004,2004.1,The object metadata attribute « date » is rena...
15,NaN,NaN,section 3.1.6.2 and at all other parts referri...
16,NaN,NaN,A new Feature type value is added for inland w...

In [63]:
dfs[2]

Empty DataFrame
Columns: [Key word, Description]
Index: []

In [64]:
dfs[3]

   +        Ditch = 3: Unnamed: 0                             Unnamed: 1
0  +         Lake = 4:          -                     Isolated:  boolean
1  +    Reservoir = 5:          -                    IslandNID:  DT_UUID
2  +  Watercourse = 6:          -             Permanency:  CL_Permanency
3  +  Tidal River = 7:          -  WaterDefinition:  CL_Water Definition

In [65]:
dfs[4]

,CodeList::+ None = 0:,Unnamed: 0,CodeList::,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,+ Contiguous Water Region = 1:,CL_Permanency,CL_Network Flow,NaN,«CodeList»,NaN,NaN
1,+ Tidal = 2:,NaN,Type,NaN,Code List::,NaN,«CodeList»
2,NaN,+ Unknown = -1:,NaN,NaN,CL_DirectionFlag,NaN,NaN
3,+ Coastline = 3:,NaN,NaN,NaN,NaN,NaN,CodeList::CL_
4,NaN,+ None = 0:,+ Unknown = -1:,NaN,NaN,NaN,NaN
5,+ Water Region Limit at ProvTerr Limit = 4:,NaN,NaN,NaN,NaN,NaN,Lev elPriority
6,NaN,+ Permanent = 1:,+ None = 0:,+,same direction = 1:,NaN,NaN
7,+ Working Unit Region Limit = 5:,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,+ Intermittent = 2:,+ Observed = 1:,+,opposite direction = 2:,+,Primary = 1: